.blog-content .scroll-m-20 {
  scroll-margin: 20px;
}

.blog-content img {
  --tw-brightness: brightness(.90);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  border-width: 3px;
  border-color: azure;
  border-radius: 4px;
}

.blog-content h1 {
  font-size: 2.25rem; /* 4xl */
  font-weight: 800; /* extrabold */
  letter-spacing: -0.025em; /* tight tracking */
}

@media (min-width: 1024px) {
  .blog-content h1 {
    font-size: 3rem; /* 5xl for lg screens */
  }
}

.blog-content p {
  font-size: 1.125em;
  max-width: 48rem;
  line-height: 1.75; 
}

.blog-content p:not(:first-child) {
  margin-top: 1.5rem; /* mt-6 */
}


.blog-content video {
  margin-top: 30px ;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.blog-content h2 {
  margin-top: 2.5rem; /* mt-10 */
  border-bottom: 1px solid;
  border-color: azure;
  padding-bottom: 0.5rem; /* pb-2 */
  font-size: 1.875rem; /* text-3xl */
  font-weight: 600; /* semibold */
  letter-spacing: -0.025em; /* tight tracking */
}

.blog-content h2:first-child {
  margin-top: 0;
}

.blog-content a {
  font-weight: 500; /* medium */
  color: var(--primary-color); /* Assuming a primary color variable */
  text-decoration: underline;
  text-underline-offset: 4px;
}

.blog-content blockquote {
  margin-top: 1.5rem; /* mt-6 */
  border-left: 2px solid;
  padding-left: 1.5rem; /* pl-6 */
  font-style: italic;
}

.blog-content h3 {
  margin-top: 2rem; /* mt-8 */
  font-size: 1.5rem; /* text-2xl */
  font-weight: 600; /* semibold */
  letter-spacing: -0.025em; /* tight tracking */
}

.blog-content ul {
  margin-top: 1.5rem; /* my-6 */
  margin-bottom: 1.5rem;
  margin-left: 1.5rem; /* ml-6 */
  list-style-type: disc;
}

.blog-content ul > li {
  margin-top: 0.5rem; /* mt-2 */
}

.blog-content table {
  width: 100%;
  margin-top: 1.5rem; /* my-6 */
  margin-bottom: 1.5rem;
  overflow-y: auto;
}

.blog-content th {
  border: 1px solid;
  padding: 0.5rem 1rem; /* px-4 py-2 */
  text-align: left;
  font-weight: bold;
}

.blog-content th[align="center"] {
  text-align: center;
}

.blog-content th[align="right"] {
  text-align: right;
}

.blog-content td {
  border: 1px solid;
  padding: 0.5rem 1rem; /* px-4 py-2 */
  text-align: left;
}

.blog-content td[align="center"] {
  text-align: center;
}

.blog-content td[align="right"] {
  text-align: right;
}

.blog-content tr:nth-child(even) {
  background-color: var(--muted-color); /* Assuming a muted color variable */
}