---
import { ArrowRight } from 'lucide-astro';

interface Props {
  degree: string;
  institution: string;
  period: string;
}

const { degree, institution, period } = Astro.props;
---

<div class="flex flex-col space-y-1">
  <p class="font-semibold text-black dark:text-slate-100">{degree}</p>
  <p class="cursor-pointer group flex items-center w-fit">
    {institution}
    <ArrowRight
      class="opacity-0 group-hover:opacity-100 transition-[opacity,translate] ease-out group-hover:translate-x-2 duration-200 w-5 ml-1"
    />
  </p>
  <p class="text-sm text-gray-600 dark:text-gray-400">{period}</p>
</div>
